#base-card{
    height: 100px;
    background-color: $c-blue;
    .container-sm{
        position: relative;
        height: 100%;
        figure{
            position: absolute;
            bottom: 30px;
            left: 0;
            border: 1px solid white;
            .banner{
                height: 20px;
                background-color: #78BCDF;
                position: absolute;
                color: white;
                text-align: center;
            }
            #banner-bottom{
                bottom: 0px;
                width: 100%;
            }
            #banner-top{
                font-size: 14px;
                top: 0px;
                width: 50%;
            }
        }
    }
}

// Section Description Comic

.information{
    position: relative;
    display: flex;
    padding: 50px 0;
}

#description{
    padding: 0 20px;
    width: 70%;
    h2{
        color: $c-comic;
        font-size: 25px;
    }
    #row{
        padding: 0 20px;
        margin: 25px 0;
        height: 50px;
        background-color: $c-darkgreen;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color:white;
        #wrapper{
            display: flex;
            align-items: center;
            width: 70%;
            justify-content: space-between;
            
            height: 100%;
        }
        #price{
            display: flex;
            #local{
                color: $c-fluogreen;
            }
            #disponibility{
                color: $c-fluogreen;
            }
        }
    }
    .plot{
        font-size: 18px;
    }
}

#advertisement{
    width: 30%;
}