.jumbotron {
  height: 400px;
  img{
      height: 400px;
      width: 100%;
      object-fit: cover;
      object-position: top;
  }
  .container {
    position: relative;
    
    button {
      position: absolute;
      bottom: -30px;
      left: 0%;
    }
  }
}
.main-series {
    background-color: $c-black;
    padding: 20px 0;
    
    .load {
      width: 100%;
      display: flex;
      justify-content: center;
      button {
        font-size: 12px;
        padding: 10px 40px;
      }
    }
  }
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  h2 {
    color: $c-white;
  }
  
  #shop {
    position: relative;
    z-index: 1;
    color: $c-white;
    padding: 20px 0;
    background-color: $c-blue;
  }
  
  .card-img {
    width: 20%;
    figure {
      display: flex;
      align-items: center;
      .immagine {
        display: flex;
        align-items: center;
        width: 50%;
        height: 50%;
      }
      .text {
        font-size: 15px;
      }
    }
  }
  
  .card-img:last-child .immagine {
    width: 100%;
    img {
      margin-top: 15px;
    }
  }

  // SECTION CARD
  .card-serie {
    flex-basis: calc(100% / 6);
    color: $c-white;
    padding: 20px;
  }