* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.active {
  color: #0377f8;
}

body {
  height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  height: 100vh;
}

button {
  font-size: 18px;
  border: 0;
  background-color: #0377f8;
  padding: 15px 20px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#banner {
  height: 30px;
  background-color: #0377f8;
}
#banner .container {
  font-size: 13px;
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  color: white;
}
#banner .container .banner {
  padding-left: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
}
nav ul {
  display: flex;
  height: 100%;
}
nav ul li {
  list-style-type: none;
  height: 100%;
  display: flex;
  align-items: center;
}
nav ul li a {
  font-size: 0.8rem;
  text-decoration: none;
  color: black;
  padding: 5px;
  margin: 5px;
  height: 100%;
  display: flex;
  align-items: center;
}
nav ul li a:hover, nav ul li a.active {
  color: #0377f8;
}

.jumbotron {
  height: 400px;
}
.jumbotron img {
  height: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.jumbotron .container {
  position: relative;
}
.jumbotron .container button {
  position: absolute;
  bottom: -30px;
  left: 0%;
}

.main-series {
  background-color: black;
  padding: 20px 0;
}
.main-series .load {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-series .load button {
  font-size: 12px;
  padding: 10px 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

h2 {
  color: white;
}

#shop {
  position: relative;
  z-index: 1;
  color: white;
  padding: 20px 0;
  background-color: #0377f8;
}

.card-img {
  display: flex;
}
.card-img figure {
  display: flex;
  align-items: center;
}
.card-img figure .immagine {
  display: flex;
  align-items: center;
  width: 25%;
  height: 25%;
}
.card-img figure .text {
  font-size: 15px;
}

.card-img:last-child .immagine {
  width: 100%;
}
.card-img:last-child .immagine img {
  margin-top: 15px;
}

.card-serie {
  flex-basis: 16.6666666667%;
  color: white;
  padding: 20px;
}

.footer-top {
  display: flex;
  align-items: center;
  height: 600px;
  color: white;
  background-image: url("../images/footer-bg.jpg");
  background-position: contain;
  max-height: 350px;
}

#links {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}
#links h3 {
  padding: 0 0 10px 10px;
}
#links ul {
  margin: 0 10px;
  list-style-type: none;
  align-content: space-around;
}
#links ul li {
  color: grey;
}

.logo {
  position: relative;
  width: 50%;
  z-index: 0;
}
.logo img {
  position: absolute;
  right: 0;
  bottom: -140px;
  width: 90%;
}

.footer-bottom {
  display: flex;
  align-items: center;
  position: relative;
  height: 150px;
  background-color: #2a2a2a;
  z-index: 1;
}

#button {
  display: flex;
  width: 70%;
}
#button button {
  background-color: #2a2a2a;
  padding: 10px;
  border: 2px solid #0377f8;
}
#button button a {
  color: white;
  text-decoration: none;
}

#social {
  display: flex;
  align-items: center;
}
#social ul {
  display: flex;
}
#social ul li {
  list-style-type: none;
  margin: 5px;
}
#social h4 {
  margin-right: 20px;
  color: #0377f8;
}